* {
   font-family: Arial, sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.app {
   min-height: 100vh;
   background: url('./content/smoke.jpg') no-repeat fixed center;
   background-size: cover;
}

.formContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   background-color: rgba(20, 20, 20, .8);
}

.form {
   position: relative;
}

.label {
   margin-right: 15px;
   font-size: 25px;
   color: rgb(239, 232, 232);
}

#countryName,
.autocompleteItem {
   height: 35px;
   width: 300px;
   padding: 5px;
   border: none;
   font-size: 20px;
}

.autocompleteList {
   list-style: none;
   text-align: center;
}

.autocompleteItem {
   position: absolute;
   left: 100%;
   transform: translateX(-100%);
   top: 100%;
   padding: 5px;
   border: 2px solid rgb(239, 232, 232);
   color: rgb(239, 232, 232);
   cursor: pointer;
}

.mainContent {
   padding: 20px;
   background-color: rgba(20, 20, 20, .8);
   color: rgb(239, 232, 232);
}

.cityList {
   list-style: none;
   text-align: center;
}

.cityName {
   padding: 10px;
   font-size: 30px;
}

.toggler {
   width: 100px;
   margin: 0 auto;
   border: 2px solid rgb(239, 232, 232);
   font-size: 30px;
   cursor: pointer;
}

.cityDesc {
   display: none;
   padding: 10px;
   font-size: 17px;
   line-height: 1.3;
}

.active {
   display: block;
}